<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel.It</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- Background Image Container -->
    <div class="background-container"></div>

    <div class="container">
        <h2>Welcome to Travel.It</h2>
        <p class="subheading">Experience the world from the comfort of your home with Travel.It!</p>
        <p>Discover exciting virtual reality travel experiences that will transport you to breathtaking destinations across the globe.</p>
        <p>Whether you dream of relaxing on pristine beaches, trekking through lush mountains, or exploring historical wonders, Travel.It has something for every adventurer.</p>
        <p class="call-to-action">Are you ready for the journey of a lifetime?</p>
        <div class="buttons">
            <a href="/signout" class="btn">Sign Out</a>
            <a href="/admin" class="btn">Admin</a>
            <a href="/map" class="btn">Map</a>
        </div>
    </div>
</body>
</html>
