<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel.It</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
    <!-- Background Image Container -->
    <div class="background-container"></div>

    <div class="container">
        <h1>Welcome to Travel.It</h1>
        <p>Experience the world from the comfort of your home with Travel.It!</p>
          <div class="button-container">
            <a href="/signup" class="btn">Explore Now</a>
        </div>
    </div>
</body>
</html>
