 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel.It - Sign In</title>
    <link rel="stylesheet" href="static/css/style1.css">
</head>
<body>
    <!-- Background Image Container -->
    <div class="background-container"></div>

    <div class="container">
        <h1>Welcome back to Travel.It</h1>
        <p>Please sign in to access your account.</p>
        <form method="POST" action="/signin">
        <!-- Heading -->
        <h4>
        Log in to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to sign in.
        </p>
        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        
        <!-- Button -->
        <div>
             <input type="submit"/>
        </div>
    </form>
        <div class="button-container">
            <a href="/home" class="btn">Sign In</a>
        </div>
    </div>
</body>
</html>
